*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
.container-fluid{
    width: 1005;
}
.col-10{
    height: 500px;
    width: 80%;
}
.col-2{
   width: 20%;
    height: 500px;
}
.col-12{
    width: 100%;
    height: 75px;
}