*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container-fluid{
    width: 100%;
}
.form-control{
    width: 300px;
}
main{
    display: flex;
}
.sidebar{
    width: 75px;
    
    background-color: #0B1D32;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top{
    width: calc(100vw - 75px);
    height: 150px;
    background-color: #3870E0;
}

.icone-sidebar, .end-sidebar{
    width: 100%;
    color: white;
    text-align: center;
    line-height: 30px;
}
.row{
    display: flex;
    flex-direction: column;
}
.list, .row-head{
    display: flex;
    flex-direction: row;
}
.list img{
    width: 30px;
    height: 30px;
}
.faq{
    font-size: 25px;
}
