*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: gray;
    height: 4rem;
    
}
.bg-white{
    background-color: white;
}


.wrapper{
    width: 100%;
    display: flex;
    overflow-y: auto;
}
/*aside*/
.aside{
    background-color: #0B1D32;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75px;
    
}
.icone-aside, .end-aside{
    width: 100%;
    color: white;
    text-align: center;
    line-height: 30px;
    padding-left: 20px;

}


/*main*/
.main{
    height: 100%;
    width: calc(100vw - 75px);
  
}
.top-bar-blue{
    background-color: blue;
   
}
.content{
    background-color: red;
   
}
.list, .row-head{
    display: flex;
    flex-direction: row;
}
.list img{
    width: 30px;
    height: 30px;
}






@media  screen and (min-width: 992px) {
    .aside{
        width: 150px;
    }
    .main{
        width: calc(100vw - 150px);
    }
    
}